<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>

    <div>
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ paziente.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group" style="padding: 20px;">
                    <button type="button" class="btn btn-primary" (click)="editPaziente()">Modifica</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" (click)="deletePaziente()">Elimina</button>
                </div>
                <div class="btn-group" style="padding: 20px;">
                    <button type="button" class="btn btn-success" (click)="prenotaVisita()">Prenota visita</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Codice fiscale: </label>{{ paziente.codiceFiscale }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Indirizzo: </label>{{ paziente.address }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Età: </label>{{ paziente.age }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Sesso: </label>{{ paziente.gender }}
            </div>
        </div>
